
  <table class="table table-striped table-hover" id='user-stocks'>
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render user.stocks %>
  </tbody>
</table>
